# Configuración de Oracle Cloud Infrastructure (OCI) Object Storage
OCI_BUCKET_NAME=energiai-models
OCI_MODEL_OBJECT_NAME=modelo_energiai.joblib

# Configuración del Microservicio
PORT=8000
ENVIRONMENT=development